### Enriching 990 dataset with the mission/purpose of the not-for-profit

1. The contractor dataset downloaded from here (https://www.open990.org/catalog/) didn't have the mission/purpose of the not-for-profit included in the dataset.
1. I was able to download a more expansive 990 dataset from here (https://appliednonprofitresearch.com/documentation/irs-990-spreadsheets/, a website affiliated with the open990 website) which included the mission/purpose of the not-for-profit.
1. Since the open990 dataset was in a more clean/accessible format, I continued using it for my project, however I joined the mission/purpose field to it.  This allowed me to perform analysis on specific categories of not-for-profits.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [3]:
org_mission = pd.read_csv('data/990_Part I_Line_1_mission_significant_activities.csv',
                low_memory=False)

In [7]:
org_mission.shape

(237854, 2)

In [8]:
org_mission.dtypes

ein_org               int64
990_Part I_Line 1    object
dtype: object

In [9]:
# rename column
org_mission.rename(columns={'990_Part I_Line 1': 'mission_of_org'}, inplace=True)

In [10]:
org_mission.head()

     ein_org                                     mission_of_org
0  461233726  PROVIDING HELP, ASSISTANCE, & HEALING TO VICTI...
1  591965600                                     SEE SCHEDULE O
2  840889330  BUILD LONG-TERM, LIFE-CHANGING RELATIONSHIPS W...
3  274862807  Our mission is to prepare students for a colle...
4  141666301  THE VERDOY VOLUNTEER FIRE ASSOCIATION, INC. (T...

In [11]:
# format mission into upper case to be consistent
org_mission['mission_of_org'] = org_mission['mission_of_org'].apply(lambda x: str(x).upper())

In [12]:
# verify uppercase
org_mission.head()

     ein_org                                     mission_of_org
0  461233726  PROVIDING HELP, ASSISTANCE, & HEALING TO VICTI...
1  591965600                                     SEE SCHEDULE O
2  840889330  BUILD LONG-TERM, LIFE-CHANGING RELATIONSHIPS W...
3  274862807  OUR MISSION IS TO PREPARE STUDENTS FOR A COLLE...
4  141666301  THE VERDOY VOLUNTEER FIRE ASSOCIATION, INC. (T...

### Extract key words/phrases from mission statement of each not-for-profit

### Join not-for-profit orgs with at least one contractor over 100K

In [4]:
orgs_with_cont = pd.read_csv('data/ein_orgs_with_contractors.csv',
                low_memory=False)

In [5]:
orgs_with_cont.head()

        ein
0  10056837
1  10079380
2  10114035
3  10130427
4  10142660

In [6]:
orgs_with_cont.shape

(30589, 1)

In [15]:
orgs_with_cont.merge(org_mission, how='left', left_on='ein', right_on='ein_org').head(30)

         ein   ein_org                                     mission_of_org
0   10056837  10056837  EMEC IS A NON-PROFIT CONSUMER-OWNED ELECTRIC U...
1   10079380  10079380    PROVIDE MEMBERS WITH SAVINGS AND LOAN SERVICES.
2   10114035  10114035                   PUBLIC EDUCATION LABOR ADVOCACY.
3   10130427  10130427  BRIDGTON HOSPITAL STRIVES TO PROVIDE EXCEPTION...
4   10142660  10142660  TO PROMOTE RECREATIONAL AND SOCIAL ACTIVITIES ...
5   10177170  10177170  WALDO COUNTY GENERAL HOSPITAL'S MISSION IS TO ...
6   10179500  10179500  SOUTHERN MAINE HEALTH CARE EXISTS TO IMPROVE T...
7   10191203  10191203  TO PROVIDE PROGRAMS AND SERVICES THAT ARE BENE...
8   10196194  10196194    PROVIDE MEMBERS WITH SAVINGS AND LOAN SERVICES.
9   10196359  10196359  TO HELP PEOPLE WHO ARE VISUALLY IMPAIRED OR BL...
10  10198331  10198331  THE HOSPITAL IS A NOT-FOR-PROFIT ENTITY ESTABL...
11  10202467  10202467  TO DEVELOP SOLUTIONS TO COMPLEX HUMAN & ENVIRO...
12  10203515  10203515    PROVIDE MEMBERS WITH SAVINGS AND LOAN SERVICES.
13  10211483  10211483  PROVIDING ADULT, CHILDREN, AND FAMILY MENTAL H...
14  10211488  10211488         SUPPORT PRESERVATION OF HISTORIC BUILDINGS
15  10211494  10211494  CMMC STRIVES TO PROVIDE EXCEPTIONAL HEALTHCARE...
16  10211497  10211497                                          EDUCATION
17  10211501  10211501  EASTERN MAINE MEDICAL CENTER STRIVES TO PROVID...
18  10211503  10211503                                 COMMUNITY HOSPITAL
19  10211505  10211505  INDEPENDENT SECONDARY SCHOOL THAT SERVES A WID...
20  10211508  10211508  SCHOOL PROVIDING SERVICES TO NEEDY AND DESERVI...
21  10211509  10211509  GOULD ACADEMY PREPARES ACADEMICALLY MOTIVATED ...
22  10211512  10211512  TO PROVIDE HIGH QUALITY HOUSING AND SERVICES T...
23  10211513  10211513  THE PURPOSES OF THE LABORATORY ARE SCIENTIFIC,...
24  10211517  10211517                                     LONG-TERM CARE
25  10211532  10211532  THE ORGANIZATION'S MISSION IS TO EDUCATE STUDE...
26  10211534  10211534  MERCY HOSPITAL CARRIES OUT THE HEALING WORK OF...
27  10211551  10211551  ST. MARY'S REGIONAL MEDICAL CENTER IS A 233-LI...
28  10211565  10211565  TO OFFER LOWER, MIDDLE AND UPPER SCHOOL EDUCAT...
29  10211781  10211781  BATES COLLEGE IS A PRIVATE, HIGHLY SELECTIVE, ...