### Enriching 990 dataset with the mission/purpose of the not-for-profit

1. The contractor dataset downloaded from here (https://www.open990.org/catalog/) didn't have the mission/purpose of the not-for-profit included in the dataset.
1. I was able to download a more expansive 990 dataset from here (https://appliednonprofitresearch.com/documentation/irs-990-spreadsheets/, a website affiliated with the open990 website) which included the mission/purpose of the not-for-profit.
1. Since the open990 dataset was in a more clean/accessible format, I continued using it for my project, however I joined the mission/purpose field to it.  This allowed me to perform analysis on specific categories of not-for-profits.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', None)

In [56]:
org_mission = pd.read_csv('data/990_Part I_Line_1_mission_significant_activities.csv',
                low_memory=False)

In [58]:
org_mission.shape

(237854, 2)

In [89]:
org_mission.dtypes

ein_org            int64
mission_of_org    object
dtype: object

In [65]:
# rename column
org_mission.rename(columns={'990_Part I_Line 1': 'mission_of_org'}, inplace=True)

In [66]:
org_mission.head()

     ein_org                                     mission_of_org
0  461233726  PROVIDING HELP, ASSISTANCE, & HEALING TO VICTI...
1  591965600                                     SEE SCHEDULE O
2  840889330  BUILD LONG-TERM, LIFE-CHANGING RELATIONSHIPS W...
3  274862807  Our mission is to prepare students for a colle...
4  141666301  THE VERDOY VOLUNTEER FIRE ASSOCIATION, INC. (T...

In [84]:
# format mission into upper case to be consistent
org_mission['mission_of_org'] = org_mission['mission_of_org'].apply(lambda x: str(x).upper())

In [86]:
# verify uppercase
org_mission.head()

     ein_org                                     mission_of_org
0  461233726  PROVIDING HELP, ASSISTANCE, & HEALING TO VICTI...
1  591965600                                     SEE SCHEDULE O
2  840889330  BUILD LONG-TERM, LIFE-CHANGING RELATIONSHIPS W...
3  274862807  OUR MISSION IS TO PREPARE STUDENTS FOR A COLLE...
4  141666301  THE VERDOY VOLUNTEER FIRE ASSOCIATION, INC. (T...

### Extract key words/phrases from mission statement of each not-for-profit